@mixin flex($direction: row, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin calcHeight($vhNum: 50, $vh: 50vh) {
  height: $vh;
  height: calc(var(--vh, 1vh) * $vhNum);
}
